<div id="<%= dom_id dog %>">
  <p>
    <strong>Name:</strong>
    <%= dog.name %>
  </p>

  <% dog.dog_images.each do |image|%>
    <%= puts image.image_url%>
    <img src="<%= image.image_url %>" alt="A photo of <%= dog.name %>">
  <% end %>

  <p>
    <strong>Age:</strong>
    <%= dog.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= dog.gender %>
  </p>

    <p>
    <strong>Breed:</strong>
      <%= dog.breeds[0].name %>
    </p>

  <p>
    <strong>Description:</strong>
    <%= dog.description %>
  </p>


  <%= button_to "Remove dog", @dog, method: :delete %>

</div>