<div id="<%= dom_id dog %>">
  <p>
    <strong>Name:</strong>
    <%= dog.name %>
  </p>


  <img src="<% @dog.image_url %>" alt="A photo of <%= dog.name %>">

  <p>
    <strong>Age:</strong>
    <%= dog.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= dog.gender %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dog.description %>
  </p>

</div>