<h1>All dogs</h1>
<p>Shows all avilable puppies for adoption!</p>


<% @dogs.each do |dog| %>
    <ul>
        <% dog.dog_images.each do |cover|%>
            <li><img src="<%= cover.image_url %>" alt="A picture of <%= dog.name %>"/></li>
        <% end %>
        <li><%= dog.name %></li>
        <li>Age: <%= dog.age %></li>
        <li>Gender: <%= dog.gender %></li>
        <li>Breed: <%= dog.breeds[0].name %></li>
    </ul>
<% end %>
