<h1>All dogs</h1>
<p>Shows all avilable puppies for adoption!</p>


<% @dogs.each do |dog| %>
    <ul>
        <img src="<%= dog.dog_images[0].image_url %>" alt="">
        <li><%= dog.name %></li>
        <li>Age: <%= dog.age %></li>
        <li>Gender: <%= dog.gender %></li>
        <li>Breed: <%= dog.breeds[0].name %></li>
    </ul>
<% end %>
